@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/fonts/aktiv-grotesk/AktivGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/fonts/aktiv-grotesk/AktivGrotesk-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Domaine Display';
  src: url('/fonts/domaine-display/domaine-display-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Domaine Display';
  src: url('/fonts/domaine-display/domaine-display-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Haikus Script';
  src: url('/fonts/haikus-script/HaikusScriptv09Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Haikus Script';
  src: url('/fonts/haikus-script/HaikusScriptv09Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
